# web framework
fastapi 
uvicorn[standard] 
sse-starlette 
python-multipart 

#settings
pydantic
pydantic[email]
pydantic-settings 

# Database
sqlalchemy[asyncio]
asyncpg
alembic

# redis
redis

# Auth
bcrypt
PyJWT

# llm & agent
langchain
langchain-anthropic
langchain-openai
langchain-community
langgraph
anthropic

# Vector DB
qdrant-client

# Embeddings
httpx

# Job Search
google-search-results

# Utilities
python-dotenv
tenacity
structlog