# web framework
fastapi 
uvicorn[standard] 
sse-starlette 
python-multipart 
asgi-lifespan

#settings
pydantic
pydantic[email]
pydantic-settings 

# Database
sqlalchemy[asyncio]
asyncpg
alembic

# redis
redis

# Auth
bcrypt
PyJWT

# llm & agent
langchain
langchain-anthropic
langchain-openai
langchain-community
langgraph
anthropic
langgraph-checkpoint-postgres 
psycopg[binary,pool]

# Vector DB
qdrant-client

# Network
httpx
httpx-ws
anyio[asyncio]

# Job Search
google-search-results

# Utilities
python-dotenv
tenacity
structlog

# Profile extraction
pypdf
python-docx

# env
python-dotenv

# tests
pytest
pytest-asyncio
